<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ue4</key>
	<string>saintgirl.com.myclock.ue4</string>
	<key>clock</key>
	<string>saintgirl.com.myclock</string>
</dict>
</plist>
